@model ITS.Domain.Entities.Group

@{
    ViewBag.Title = "Редагувати групу";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редагувати групу</h3>
    </div>
    @using (Html.BeginForm("Edit", "Group"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ID)
            <div class="form-group">
                @Html.Label("Назва Групи")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("List", "Group")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            <button type="submit" value="Save" class="btn btn-info">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </div>
    }
</div>