@model ITS.Domain.Entities.TextQuestion

<div class="questionText">
    <strong>@ViewData["order"].</strong> @Model.QuestionText
    <div class="pull-right pointsDetails">
        (<em>бали</em> <strong>&times; @Model.Coefficient.ToString("0.##")</strong>)
    </div>
</div>
<div class="answerDetails">
    <input name="Questions[@((int)ViewData["order"]-1)].ID" type="hidden" value="@Model.ID" />
    <input name="Questions[@((int)ViewData["order"]-1)].Answer"
           type="text"
           value=""
           class="form-control answer"
           placeholder="Ваша відповідь"
           oninput="markText(@ViewData["order"])" />
</div>
